@import "tailwindcss";

@theme inline {
  --color-primary: #ec5b13;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221610;
  --color-accent-purple: #7c3aed;
  --color-accent-blue: #2563eb;
  --color-code-bg: #1e1e1e;
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-fira-code), monospace;
}

body {
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

/* Firebase Emulator Warning Banner Override */
/* Fix described in https://noh.ink/articles/P64wnQAgpKv6QNeaQ8iv */
.firebase-emulator-warning {
  opacity: 0.5;
  pointer-events: none !important; /* Allows you to click buttons underneath the banner */
  font-size: 0.6rem; /* Makes the text smaller */
  padding: 2px 0; /* Reduces the height */
  bottom: 0 !important; /* Ensures it stays at the very bottom */
}
